@font-face {
  font-family: big-john;
  src: url(../fonts/big-john.otf);
}

* {
  box-sizing: border-box;
}
.clear {
  clear: both;
}
/*GENERAL START*/
html {
  font-size: 18px;
}
body {
  margin: 0 auto;
  
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #FEF9FD;
  line-height: 2;
}
h1, h2, h3 {
  font-family: big-john;
}
h1 {
  font-size: 2.7rem;
  line-height: 3rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 20px 0;
}
h2::before {
  content: '[ ';
}
h2::after {
  content: ' ]';
}
h3 {
  font-size: 1.2rem;
  line-height: 2rem;
}
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}
.section-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin: 60px 0;
}
main > section:not(:last-child) {
  padding-bottom: 40px;
  border-bottom: 5px dashed;
}
main section:nth-child(even) .section-heading {
  flex-direction: row-reverse;
}
main section:nth-child(odd) .section-heading p {
  text-align: left;
}
main section:nth-child(even) .section-heading p {
  text-align: right;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  height: 100%;
}
main .content {
  margin: 0 5%;
}
.center {
  text-align: center;
}
.occupy-width {
  width: 50%;
}
footer {
  background-color: #D2EAE3;
  text-align: center;
  font-size: small;
  padding: 20px 0;
}
a:hover {
  cursor: pointer;
}
/*GENERAL END*/

/*HEADER START*/
header {
  width: 100%;
  height: 100vh;
  background-color: #FDD300;
}
nav {
  font-family: big-john;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li a {
  padding: 10px;
}
nav li a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform:  translateX(20px);
  transform:     translateX(20px);
}
nav li a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform:  translateX(-20px);
  transform:     translateX(-20px);
}
nav li a::before, nav li a::after {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition:  -moz-transform 0.3s, opacity 0.2s;
  transition:     transform 0.3s, opacity 0.2s;
}
nav li a:hover::before, nav li a:hover::after,
nav li a:focus::before, nav li a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform:  translateX(0px);
  transform:     translateX(0px);
}
.illustrations {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.scared-monkey {
  width: 30%;
  transform: scaleX(-1);
}
#hamburger-menu {
  font-size: 2rem;
  float: right;
  padding-right: 30px;
  display: none;
}
#hamburger-menu:hover {
  cursor: pointer;
}
/*HEADER END*/

/*WHAT I DO START*/
.skills {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.8rem;
}
.skills section {
  width: 30%;
}
/*WHAT I DO END*/

/*MY WORKS START*/
.portfolio ul {
  display: flex;
  justify-content: space-between;
}
.portfolio figure img {
  width: 100%;
}
/*MY WORKS END*/

/*ABOUT STARTS*/
.level-circle {
  width: 10rem;
  height: 10rem;
  margin: 40px 0;
  
  background-color: #FDD300;
  
  border-radius: 50%;
  border: 1rem solid #FDD300;
  transform: rotate(45deg);
}
.levels {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.levels > section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  width: 30%;
  align-items: center;
  text-align: center;
}
#about-html .level-circle {
  border-top: 20px solid #000000;
  border-right: 20px solid #000000;
  border-bottom: 20px solid #000000;
}
#about-css .level-circle {
  border-top: 20px solid #000000;
  border-right: 20px solid #000000;
}
#about-js .level-circle {
  border-top: 20px solid #000000;
}
.level-circle h3 {
  transform: rotate(-45deg);
  text-align: center;
  font-size: 2rem;
  line-height: 5;
  
  padding: 0;
  margin: 0;
}
/*ABOUT END*/

/*CONTACT START*/
.contact {
  background-color: #D2EAE3;
}
.contact-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form label {
  display: block;
  font-family: big-john;
  font-size: .7rem;
}
.contact-form form input, textarea {
  width: 75%;
  
  background-color: #FDD300;
  border: 2px solid #666666;
  
  padding: 5px;
  margin-bottom: 20px;
  
  text-transform: uppercase;
  
}
.contact-form form input:focus, textarea:focus {
  box-shadow: none;
  outline: none;
  border-color: #000000;
  
}
.contact-form form input[type="submit"] {
  width: 30%;
  padding-top: 10px;
  
  font-family: big-john;
  letter-spacing: 2px;
  border-color: #000000;
}
.contact-form form input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #888888;
}
.container {
  width: 75%;
  text-align: center;
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-info img {
  width: 30%;
  transition: transform 0.3s;
}
.contact-info img:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
#social-media ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#personal-info div {
  margin-bottom: 30px;
}
.notice {
  display: none;
  width: 75%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 80%;
}
.alert {
  background-color: coral;
  color: darkred;
}
.success {
  background-color: lightgreen;
  color: darkgreen;
}
/*CONTACT END*/